.strip{
  min-height: 350px;
  background-image: url(images/vod.jpg);
  background-position:top center ;
  background-size: cover;

  display: flex;
  align-items: center;
  text-align: center;
}

.strip h1{
  color:white;
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
}
